html {
}

body, html {
  min-height: 100dvh;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
}

body {
  flex-direction: column;
  margin: 0;
  text-transform: full-width;
}

#header {
  min-height: 150px;
  display: flex;
  align-self: stretch;
  background-color: #a6ca93;
  justify-content: center;
  flex-direction: column;
}

#header-buttons {
  display: flex;
  align-self: end;
  padding: 8px;
  margin-top: auto;
}

.github-svg {
  text-decoration: none;
  width: 24px;
}

#projects-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

#projects-link:hover {
  color: #ebedee;
}

.header-separators {
  width: 1px;
  height: 24px;
  background-color: #ebedee;
  margin-left: 16px;
  margin-right: 16px;
}

#under-name {
  width: 60%;
  height: 2px;
  background-color: #ebedee;
  align-self: center;
}

#name {
  font-size: 40px;
  align-self: center;
  margin: 16px;
}

#main-container {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  padding-left: 34px;
}

#projects {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  flex-direction: column;
}

#rotationeasy-container {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  flex-direction: column;
  padding-left: 8px;
}

.separator {
  width: 90%;
  height: 2px;
  background-color: #ebedee;
}

.titles {
  font-size: 24px;
}

.subtitles {
  font-size: 20px;
  text-decoration: underline;
}

.chips {
  display: flex;
  gap: 8px;
  font-size: 12px;
}

.chip {
  border-radius: 4px; 
  padding: 2px;
}
